extends common/layout1

block main
    include common/header
    // 主体内容
    .content
        include common/aside
        .main
            // 分类标题
            .title
                //h4 5b9a716cb2d2bf17706bcc0a
                p.tips #{message}
            // /分类标题
            form.form-container(action='/admin/user-add' method='post')
                .form-group
                    label username
                    input.form-control(type='text' placeholder='please input username' name='username')
                .form-group
                    label email
                    input.form-control(type='email' placeholder='please input email address',name='email')
                .form-group
                    label password
                    input.form-control(type='password' placeholder='please input password',name='password')
                .form-group
                    label role
                    select.form-control(name='role')
                        option(value='normal') normal
                        option(value='admin') admin
                .form-group
                    label status
                    select.form-control(name='state')
                        option(value='0') active
                        option(value='1') forbidden
                .buttons
                    input.btn.btn-primary(type='submit' value='Add')

