doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title log-content
        link(rel='stylesheet' href='/home/css/base.css')
        link(rel="shortcut icon" href="#")
        block link
    body
        block main